<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<meta property="fb:admins" content="1517040135" />

<link rel="icon" href="https://rkuykendall.github.io/wheretostartreading/favicon.png" />
<link rel="stylesheet" href="https://rkuykendall.github.io/wheretostartreading/bootstrap.grid.min.css">
<link rel="stylesheet" href="https://rkuykendall.github.io/wheretostartreading/style.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,600italic,700,700italic,800,800italic,600,400' rel='stylesheet' type='text/css'>
<meta name=viewport content="width=device-width, initial-scale=1">

<style>
ol, ul {
	display: block;
	margin: 0 0 15px 0;
  padding-left: 0px;
}

.article ul {
	list-style-type: circle;
  margin-left: 1.5em;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
}

ol li,
ul li {
  margin-bottom: 5px;
}

.wtsr {
  background-color: #0C1B2D;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding: 20px 50px 5px 110px;
  color: #eee;
  align-items: center;
  line-height: 1.5em;
}

.wtsr a img {
  float: left;
  height: 100px;
  margin-top: 5px;
  margin-left: -85px;
  border-bottom: none;
}

.wtsr ul {
  margin-top: 0.5em;
  list-style-position: outside;
  margin-left: 22px;
}

.wtsr a {
  color: #4DDD74;
}

</style>
