<!DOCTYPE HTML>
<html>
  <head>
    <title>{{page.title}} - Robert Kuykendall</title>
    {% include head.html %}

    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
    {% else %}
        <meta content="{{ site.title }}" property="og:title">
    {% endif %}

    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}

    {% if page.description %}
        <meta content="{{ page.description }}" property="og:description">
    {% else %}
        <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}

    {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
        <meta content="{{ site.url }}" property="article:author">
    {% endif %}

    {% if page.image %}
      <meta content="{{ site.url }}{{ page.image }}" property="og:image">
    {% endif %}
  </head>

  <body id="article-{{page.title | slugify}}">

      <header>
        <p>
          <span class="korean">원전 <a href="/articles/where-to-start-reading-spiderman/">링크</a></span> written by <a href="/">Robert Kuykendall</a>,
          translated by <a href="https://twitter.com/spideythelove/">@Spideythelove</a>.
          <br />
          <span class="korean">오역, 의역, 오류 문의 자유롭게 부탁드립니다</p>
        </p>

        <p><strong>English explanation:</strong> This is a korean translation of my article <a href="/articles/where-to-start-reading-spiderman">"Where to start reading Spider-Man comics"</a> by the amazing <a href="https://twitter.com/spideythelove/">@Spideythelove</a>!</p>

        <h1 class={{page.tags | join: ' '}}>{{page.title}}</h1>
        <h2>{{page.date | date_to_long_string}}</h2>
      </header>

      <div class="article {{page.tags | join: ' '}}">
        {{ content }}
      </div>

      <div class="post-article">
        <p class="korean">
          <strong><a href="https://twitter.com/spideythelove">스파이더맨 코믹스(@spideythelove)</a></strong>는 스파이더맨 코믹스 관련한 짤과 정보를 트윗하는 비공식 계정입니다. 메인 캐릭터인 피터 파커 외에도 수없이 많은 파생 캐릭터와 서브 캐릭터 그리고 빌런까지 모두 다루고 있습니다.
        </p>
        <p>
          <strong>Robert Kuykendall</strong> &mdash; Check out my <a href="/">other stuff</a> or say hi at
          <script>
              <!--
              // http://rumkin.com/tools/mailto_encoder/custom.php
              ML="rlot>\"< mu.ya@if=/kdhcbe:n";
              MI="6<7D0G?@58<>132H02FG03=0B9;BGIC<11:E285402FG03=0B9;BGIC<11:E286A<4";
              OT="";
              for(j=0;j<MI.length;j++){
                  OT+=ML.charAt(MI.charCodeAt(j)-48);
              }document.write(OT);
              // -->
              </script><noscript>Encrypted Address</noscript>.
        </p>
      </div>

      <footer>
        <div id="disqus_thread"></div>
        <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
        var disqus_config = function () {
          this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ page.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          this.language = 'ko';
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//rkuykendall.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </footer>

      {% include foot.html %}
  </body>
</html>
